<h1> Welcome, please sign up</h1>
<center><div id="signup_form">
  <form action="/signup" method="POST">
    <p2>The Necessities...  </p2><br>
    <p1>Username</p1> <br><input type="text" name="user[username]"><br>
    <p1>Password</p1> <br><input type="password" name="user[password]"><br>
    <p1>Confirm Password</p1><br> <input type="password" name="user[password_confirmation]"><br>
    <br>
    <p2>Lets get to know you...</p2><br>
    <p1>First Name</p1> <br><input type="text" name="user[first_name]"><br>
    <p1>Last Name</p1> <br><input type="text" name="user[last_name]"><br>
    <p1>Birthdate</p1> <br><input type="date" name="user[birthdate]"><br>
    <p1>Location(City)</p1> <br><input type="text" name="user[location]"><br>

    <p1>Gender</p1> <br>
    <select name="user[gender]">
    <% @genders = ["Male", "Female"] %>
    <% @genders.each do |gender| %>
    <option value="<%= gender %>"><%= gender %></option>
    <% end %>
    </select><br>
    <!-- <p1>Gender</p1> <br><input type="text" name="user[gender]"><br> -->
    <p1>Seeking</p1> <br><input type="text" name="user[seeking]"><br>
    <p1>Email</p1><br> <input type="text" name="user[email]"><br><br>


    <p1>Bio</p1> <br><textarea name="user[bio]" rows="4" cols="50">
Tell us about yourself...and have FUN!
</textarea><br>
    <input type="submit">
  </form>
</div><br></center><br>


