<h1>Create a quiz, find love</h1>
<center><p2>Make them fun, interesting and insightful!</p2></center>
<ol><center>
<div class="quiz_form">
  <form id= "createquiz" action="/create" method="POST">
    <p2>Quiz Catchphrase</p2><br><br> <input type="text" name="quiz[catchphrase]"><br><br>
    <p1>Question 1</p1><br><br> <input type="text" name="question[prompt]"><br><br>
    <p1>Question 2</p1><br><br> <input type="text" name="question[prompt]"><br><br>
    <p1>Question 3</p1><br><br> <input type="text" name="question[prompt]"><br><br>
    <input type="submit">
  </form>
</div></center>

</ol>
