<div class= "container">
  <h1>Checkout All Users</h1>
    <% @users.map do |user| %>
      <% if user.created_quizzes.count > 0%>
        <%=erb :'user/show', locals: {user: user}%>
      <% end %>
    <% end %>
</div>
