
<h1> Welcome Home, <%= @user.first_name.capitalize %> </h1>

<div class="profile-image">
  <img class="p-image" src="<%=@user.image_url%>">
</div>

<div class="session-page">
  <p3>
  <a href="/profile/edit">EDIT BIO</a> |
  <a href="/matches">VIEW TODAY'S MATCHES</a> |
  <a href="/responses">VIEW RESPONSES</a> |
  <a href="/quiz/new">CREATE A NEW QUIZ</a>
</p3><br><br>

<p2>Your Bio: </p2><br>
<p1><%= @user.bio %></p1>

</div>

<br><br>