<div class ="container">
  <h1>Love is Quiz Deep</h1>

  <div class="initial_login">
    <p1><a href="/login">Login</a></p1> |
    <p1><a href="/signup">Signup</a></p1>
    <img src="https://lh6.googleusercontent.com/-1_rhaYovQw4/TnDD52-mC0I/AAAAAAAAAhk/ySzpn3emIpc/paper_heart.png">
  </div>
</div>
